<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jksolads"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_unit_id"/>


<!--        <meta-data android:name="applovin.sdk.key"-->
<!--            android:value="YOUR_SDK_KEY_HERE"/>-->
    </application>

</manifest>